<nav class="navbar navbar-dark bg-primary justify-content-left">
    <a href ="/" class="navbar-brand justify-content-left">
        <img src="/../assets/argprograma.png" height="100" width="150" >
        Argentina Programa #YoProgramo 
    </a>
    <div style="margin-top: 30px;margin-bottom: 30px;" >
        <button  style="margin-left:5px;margin-right: 10px;" type="submit" class="btn btn-dark" routerLink="perfil" >Ir al perfil</button>
        <button *ngIf="!authService.isLoggedIn" style="margin-left:5px;margin-right: 10px;" type="submit" class="btn btn-dark" routerLink="login"  >Login</button>
        <button *ngIf="!authService.isLoggedIn" style = "float:right" type="submit" class="btn btn-dark" routerLink="signup" >Sign Up</button>
        <button *ngIf="authService.isLoggedIn" style="margin-left:20px;margin-left: 5px;" type="submit" class="btn btn-dark" (click)="logout()" >Logout</button>
    </div>
</nav>
<router-outlet></router-outlet>



